/* Basic styling for the footer */
footer {
  background-color: #121212;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 0%;
  z-index: 1000;
}

/* Styling for the links */
footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #007bff;
}
a{
  text-decoration: none;
}